<section class="contact">
	<header class="contact-header">
		<h3 data-entrance="fade">Nós iremos atender você, sempre!</h3>
		<p data-entrance="fade">Simplesmente ligue, mande um e-mail ou use o formulário abaixo para entrar em contato.</p>
		<div class="form-row contact-item" data-entrance="fade">
			<div class="full-size">
				<img src="assets/image/mail.svg"/>
				<span class="contact-item--description">contato@pomodo.com.br</span>
				<img src="assets/image/phone.svg"/>
				<span class="contact-item--description">+55 24 3323-9824</span>
			</div>
		</div>
	</header>
	<div class="container form-container">

		<div class="form--overflow">

			<div class="form--modal">
				<h4>Envio de contato</h4>
				<p class="error-message">Todos os dados são necessários para que possamos entrar em contato.</p>
				<p class="success-message">Contato enviado com sucesso. Entraremos em contato o mais breve possível. Obrigado! :)</p>

				<footer>
					<button class="close--modal">ENTENDI</button>
				</footer>
			</div>


		</div>

		<div class="col-12 pad-max">
			<h4 class="centered-text">Formulário de contato</h4>
			<p class="centered-text">Preencha seus dados de contato que entraremos em contato mais breve possível!</p>
		</div>

		<div class="form" data-entrance="from-top">
			<form id="contact-form" class="contact-form">
				<div class="form-row">
					<span class="input input--yoshiko full-size">
						<input class="input__field input__field--yoshiko" type="text" name="name" id="name" />
						<label class="input__label input__label--yoshiko" for="name">
							<span class="input__label-content input__label-content--yoshiko" data-content="NOME">NOME</span>
						</label>
					</span>
				</div>
				<div class="form-row">
					<span class="input input--yoshiko half-size">
						<input class="input__field input__field--yoshiko" type="email" name="email" id="email" />
						<label class="input__label input__label--yoshiko" for="email">
							<span class="input__label-content input__label-content--yoshiko" data-content="E-MAIL">E-MAIL</span>
						</label>
					</span>

					<span class="input input--yoshiko half-size">
						<input class="input__field input__field--yoshiko" name="phone" id="phone" />
						<label class="input__label input__label--yoshiko" for="email">
							<span class="input__label-content input__label-content--yoshiko" data-content="TELEFONE">TELEFONE</span>
						</label>
					</span>
				</div>

				<div class="form-row">
					<div class="full-size centered-text">
						<button type="submit" class="button button--wapasha button--round-1 button--form">Enviar</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</section>