<section class="contact">
	<header class="contact-header">
		<h3>Nós iremos atender você, sempre!</h3>
		<p>Simplesmente ligue, mande um e-mail ou use o formulário abaixo para entrar em contato.</p>
		<div class="form-row contact-item">
			<div class="full-size">
				<img src="assets/image/mail.svg"/>
				<span class="contact-item--description">contato@pomodo.com.br</span>
				<img src="assets/image/phone.svg"/>
				<span class="contact-item--description">+55 24 3323-9824</span>
			</div>
		</div>
	</header>
	<div class="container form-container">

		<div class="col-12 pad-max">
			<h4 class="centered-text">Formulário de contato</h4>
			<p class="centered-text">Preencha seus dados de contato que entraremos em contato mais breve possível!</p>
		</div>

		<div class="form">
			<form>
				<div class="form-row">
					<span class="input input--yoshiko full-size">
						<input class="input__field input__field--yoshiko" type="text" id="nome" />
						<label class="input__label input__label--yoshiko" for="nome">
							<span class="input__label-content input__label-content--yoshiko" data-content="NOME">NOME</span>
						</label>
					</span>
				</div>
				<div class="form-row">
					<span class="input input--yoshiko half-size">
						<input class="input__field input__field--yoshiko" type="email" id="email" />
						<label class="input__label input__label--yoshiko" for="email">
							<span class="input__label-content input__label-content--yoshiko" data-content="E-MAIL">E-MAIL</span>
						</label>
					</span>

					<span class="input input--yoshiko half-size">
						<input class="input__field input__field--yoshiko" type="email" id="telefone" />
						<label class="input__label input__label--yoshiko" for="email">
							<span class="input__label-content input__label-content--yoshiko" data-content="TELEFONE">TELEFONE</span>
						</label>
					</span>
				</div>

				<div class="form-row">
					<div class="full-size centered-text">
						<button class="button button--wapasha button--round-1 button--form">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>