<section class="contact">
	<header class="contact-header">
		<h3 data-entrance="fade">Nossa equipe</h3>
		
		<style>
			.members{
				display: flex;
				flex-wrap: wrap;
				margin-top: 40px;
				justify-content: center;
			}
			.member{
				margin: 0 40px;
				font-size: 20px;
			}
			.member img {
				width: 180px;
				border-radius: 50%;
				margin-bottom: 20px;
			}
		</style>
		
		<div data-entrance="fade" class="members">
			<div class="member">
				<img src="http://afonsof.com/assets/images/profile.jpg">
				<div>Afonso F</div>
				<div>...</div>
			</div>
			<div class="member">
				<img src="http://sciotta.com.br/assets/img/avatar.jpg">
				<div>Thiago Sciotta</div>
				<div>...</div>
			</div>
			<div class="member">
				<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/000/1b5/39f/3f958dc.jpg">
				<div>Jorge Silva</div>
				<div>...</div>
			</div>
			<div class="member">
				<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAvbAAAAJDkyZDdkYWQ1LWNhMDQtNGY1Ny04ZThmLWQ4YWJiY2Y5ZTdjZQ.jpg">
				<div>Yan Borowski</div>
				<div>...</div>
			</div>
		</div>
	</header>
	<div class="container form-container">

		<div class="form--overflow">

			<div class="form--modal">
				<h4>Envio de contato</h4>
				<p class="error-message">Todos os dados são necessários para que possamos entrar em contato.</p>
				<p class="success-message">Contato enviado com sucesso. Entraremos em contato o mais breve possível. Obrigado! :)</p>

				<footer>
					<button class="close--modal">ENTENDI</button>
				</footer>
			</div>


		</div>

		<div class="col-12 pad-max">
			<h4 class="centered-text">Formulário de contato</h4>
			<p class="centered-text">Preencha seus dados de contato que entraremos em contato mais breve possível!</p>
		</div>

		<div class="form" data-entrance="from-top">
			<form id="contact-form" class="contact-form">
				<div class="form-row">
					<span class="input input--yoshiko full-size">
						<input class="input__field input__field--yoshiko" type="text" name="name" id="name" />
						<label class="input__label input__label--yoshiko" for="name">
							<span class="input__label-content input__label-content--yoshiko" data-content="NOME">NOME</span>
						</label>
					</span>
				</div>
				<div class="form-row">
					<span class="input input--yoshiko half-size">
						<input class="input__field input__field--yoshiko" type="email" name="email" id="email" />
						<label class="input__label input__label--yoshiko" for="email">
							<span class="input__label-content input__label-content--yoshiko" data-content="E-MAIL">E-MAIL</span>
						</label>
					</span>

					<span class="input input--yoshiko half-size">
						<input class="input__field input__field--yoshiko" name="phone" id="phone" />
						<label class="input__label input__label--yoshiko" for="email">
							<span class="input__label-content input__label-content--yoshiko" data-content="TELEFONE">TELEFONE</span>
						</label>
					</span>
				</div>

				<div class="form-row">
					<div class="full-size centered-text">
						<button type="submit" class="button button--wapasha button--round-1 button--form">Enviar</button>
					</div>
				</div>

			</form>
		</div>
	</div>
</section>
