{% assign pomodo = site.data.pomodo %}
<section class="hero">
	<article>
		<div class="entry-content">
			<img src="assets/image/tomatos.jpg" alt="Tomates cortados">
			<h2>Tão essencial para a internet quanto o tomate para a pizza.</h2>
			<p>
				A partir da carência de serviços profissionais envolvendo tecnologia,
				unimos nossas experiências em empresas internacionais e projetos relevantes,
				para criar soluções focadas em resultado, junto com nossos clientes. 
				Nosso foco é oferecer desenvolvimento de software de alta qualidade a custo acessível.
			</p>
		</div><!-- /.entry-content -->
		<footer>
			<a href="" target="_blank" class="button button--wapasha button--animated button--round-1 button--to-form">Seja nosso cliente</a>
			<a href="https://docs.google.com/forms/d/e/1FAIpQLSfZlHPXVWSnrGB7nEDJtAc30UE366Qsbd-OBDvs9_JyOx-dfA/viewform" target="_blank" class="button button--wapasha button--animated button--round-1 button--to-form">Trabalhe conosco</a>
</footer>
	</article>
</section><!-- /#content -->
