{% assign pomodo = site.data.pomodo %}
<section class="hero">
	<article>
		<div class="entry-content">
			<img src="assets/image/tomatos.jpg" alt="Tomates cortados">
			<h2>Tão essencial para a internet quanto o tomate para a pizza.</h2>
			<p>
				A partir da carência de serviços profissionais envolvendo marketing digital e tecnologia, unimos nossas experiências em grandes corporações internacionais e com projetos relevantes, para levar soluções de resultado para nossos clientes. Contamos com profissionais de diversas áreas de tecnologia e marketing digital para oferecer uma solução diferenciada e focada em resultados.
			</p>
		</div><!-- /.entry-content -->
		<footer>
			<a class="button button--animated button--round-1" href="mailto:{{pomodo.email}}">Contacte-nos!</a>
		</footer>
	</article>
</section><!-- /#content -->
