{% assign pomodo = site.data.pomodo %}
<section class="hero">
	<article>
		<div class="entry-content">
			<img src="assets/image/tomatos.jpg" alt="Tomates cortados">
			<h2>Tão essencial para a internet quanto o tomate para a pizza.</h2>
			<p>
				A partir da carência de serviços profissionais envolvendo tecnologia,
				unimos nossas experiências em empresas internacionais e projetos relevantes,
				para criar soluções focadas em resultado, junto com nossos clientes. 
				Nosso foco é oferecer desenvolvimento de software de alta qualidade e custo acessível.
			</p>
		</div><!-- /.entry-content -->
		<footer>
			<a class="button button--wapasha button--animated button--round-1 button--to-form">Contacte-nos!</a>
		</footer>
	</article>
</section><!-- /#content -->
