section.contact{
  header.contact-header{
    @include pad();
    width: 100%;
    padding: 3em;
    background-color: #c44240;
    background-image: url(../assets/image/tomato-bg.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;

    @include media($desktop) {
      padding: 8em;
    }

    p{
      margin: 1em 0 0 0;
    }
  }

  .form-container{
    @include pad();
    position: relative;

    .form--overflow{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 3;
      display: none;
      
      &.visible{
        display: block;
      }
    }

    .form--modal{
      position: absolute;
      top: 50%; left: 50%;
      padding: 2em;
      transform: translate(-50%,-50%) scale(0.4);
      box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
      width: 35%;
      background: #ffffff;
      z-index: 4;
      opacity: 0;

      &.opened{
        animation: modal 0.5s linear forwards;
      }

      h4{
        font-size: 1.4em;
      }

      footer{
        text-align: right;
        margin-top: 2em;

        button{
          display: inline-block;
          color: #4294f0;
          font-weight: 600;
          background: none;
          border: none;
          font-size: 1em;
          cursor: pointer;

          &:hover{
            opacity: 0.7;
          }
        }
      }
    }

    .form{

      @include media($mobile) {
        @include span-columns(12);
      }

      @include media($desktop) {
        @include span-columns(8);
        @include shift(2);
      }

      @include pad();
    }

    .form-row{
      @include row();
    }

    .input{
      max-width: initial;
      @include pad(0 0 2.5em 0);
    }
  }

  .full-size{
    @include media($mobile) {
      @include span-columns(12 of 12);
    }

    @include media($desktop) {
      @include span-columns(8 of 8);
    }
  }

  .half-size{
    @include media($mobile) {
      @include span-columns(12 of 12);
    }

    @include media($desktop) {
      @include span-columns(4 of 8);
    }
  }

  .contact-item{
    margin-top: 4em;

    .contact-item--description {
      line-height: 40px;
      vertical-align: top;
      margin-left: 0.8em;
      margin-right: 2em;
    }

    .contact-item--description:last-child{
      margin-right: 0;
    }
  }
}

@keyframes modal {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
