.button{
  min-width: 150px;
  max-width: 250px;
  display: block;
  padding: 0.8em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  @include media($desktop) {
    padding: 1em 2em;
  }
}

.button--form{
  margin: 1em auto;
  background: #c44240;
  color: #ffffff;
}

.button--animated{
  background: #c44240;
  margin: 3em auto;
  color: #ffffff;
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.button--round-1{
  border-radius: 40px;
}

/* Wapasha */
.button.button--wapasha {
  background: #c65451;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.button--wapasha::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #c65451;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--wapasha:hover {
  background-color: #f9fafb;
  color: #c65451;
}
.button--wapasha:hover::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}