header.site-header {
  @include outer-container;
  @include pad();

  @include media($mobile) {
    height: 70px;
  }

  .logo {
    padding: 0.5em 0;
    text-align: center;
    margin: 0 auto;

    @include media($mobile) {
      background: #ffffff;
      border-bottom: 1px solid #e8e8e8;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      text-align: center;
      z-index: 2;
    }

    @include media($desktop) {
      @include span-columns(12);
    }

    img{
      height: 50px;
      @include media($mobile) {
        margin: 0 auto;
      }
    }
  }
  .menu {
    @include media($mobile) {
      display: none;
    }

    @include shift(2);
    @include span-columns(6);
    text-align: right;
    padding: 0.5em 0;
    ul{
      list-style: none;
      margin: 0 auto;
      li{
        display: inline;
        margin: 0;

        a:link, a:visited{
          display: inline-block;
          line-height: 50px;
          padding: 5px 2em;
          text-decoration: none;
        }

        a:last-child{
          padding-right: 0;
        }
      }
    }
  }
}