section.hero {
  @include outer-container;
  @include pad();

  article{
    @include span-columns(10);
    @include shift(1);
    img{
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: inherit;

      @include media($mobile) {
        margin-top: 2em;
      }

      @include media($desktop) {
        width: 60%;
      }
    }
    h2{
      text-align: center;
      margin: 1em auto 1.5em;

      @include media($desktop) {
        margin: 0.5em auto;
      }
    }
    p{
      line-height: 1.8em;
      text-align: justify;

      @include media($desktop) {
        text-align: center;
      }
    }
    button{
      margin: 3em auto;
    }
  }
}