section.hero {
  @include outer-container;
  @include pad();

  article{
    @include span-columns(10);
    @include shift(1);
    img{
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      display: inherit;
    }
    h2{
      text-align: center;
      margin: 0.5em auto;
    }
    p{
      line-height: 1.8em;
      text-align: center;
    }
    button{
      margin: 3em auto;
    }
  }
}